

		<%= render :partial => 'layouts/header'%>

		<section class="section dark tiny">
			<div class="inner">
				<div class="container">
					<div class="tabpanel border section-tab" role="tabpanel">
						<ul class="nav nav-tabs" role="tablist"><!-- 
				<a href="#search-cars"><img src="/assets/car_icon.png"/></a> -->
							
						</ul> <!-- end .nav-tabs -->
						<div class="tab-content" style="margin-top:150px">
							<div role="tabpanel" class="tab-pane fade in active" id="search-cars" align="center">
                            	    <h1 class="main-heading1" >Late night Search</h1>
								<form action="#" method="post" class="banner-form">
                                
									<div class="item" style="width:28%">
										<div class="select-wrapper">
											<input type="search" id="search" style="width: 100%;" placeholder="Late Night Search">
											
										</div> <!-- end .select-wrapper -->
									</div> <!-- end .item -->
									<div class="item" style="width:28%">
										<div class="select-wrapper">
												<input type="text" id="area" style="width: 100%;" placeholder="Area">										
										</div> <!-- end .select-wrapper -->
									</div> <!-- end .item -->
									
									 <!-- end .item -->
									<div class="item" style="width:40%">
										<button type="submit" class="button solid light-blue" style="width:31%;float:left"><a href="listing-list-view.html" style="color:#fff;">Continue</a></button>
										<button type="submit" class="button solid light-blue" style="width:32%;float:left;margin-left:10px"><a href="listing-list-view.html" style="color:#fff;">Not Found..?</a></button>
									</div> <!-- end .item -->
								</form> <!-- end .banner-form -->
                               
							</div> <!-- end .tab-panel -->
							<div role="tabpanel" class="tab-pane fade" id="sell-car">
								<form action="#" method="post" class="banner-form">
									<div class="item">
										<input type="text" placeholder="Brand">
									</div> <!-- end .item -->
									<div class="item">
										<input type="text" placeholder="Model">
									</div> <!-- end .item -->
									<div class="item">
										<input type="text" placeholder="Year">
									</div> <!-- end .item -->
									<div class="item">
										<input type="text" placeholder="Price">
									</div> <!-- end .item -->
									<div class="item">
										<button type="submit" class="button solid light-blue">Submit</button>
									</div> <!-- end .item -->
								</form> <!-- end .banner-form -->
							</div> <!-- end .tab-panel -->
						</div> <!-- end .tab-content -->
					</div> <!-- end .tabpanel -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</section> <!-- end .section -->
        <div class="container">
					<h1 class="main-heading" style="margin-top:20px;">What are you looking for?<small>Late Night Shops</small></h1>
					<div class="services clearfix">
						<div class="service yellow">
							
							<div class="imag"><img src="/assets/logo.png"/></div> <!-- end .line -->
							<h5 class="who_we_are">Who We Are</h5>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
						</div> <!-- end .service -->
						<div class="service orange">
							
								
							<div class="imag"><img src="/assets/location_icon.png"/></div>
							<h5 style="width:100%;">Location</h5>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
						</div> <!-- end .service -->
						<div class="service green">
							 <!-- end .icon -->
						<div class="imag"><img src="/assets/team_icon.png"/></div>
							<h5 style="width:100%;">Car On Rent</h5>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
						</div> <!-- end .service -->
                        
                        </div>
                        <div class="services clearfix">
						<div class="service yellow">
							
						
							<p class="number">500</p>
						<h5 style="width:100%; margin-top:0px; color:#000000">Cars Available</h5>
                        <p>Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem
Ipsum has been the industry's </p>
						</div> <!-- end .service -->
						<div class="service orange" style="margin-top:-30px;">
							<!-- <img src="/assets/man_pic.png" alt="car" class="center-block featured-image"> -->
						</div> <!-- end .service -->
						<div class="service green">
							 <!-- end .icon -->
					
								<p class="number">500,000</p>
						<h5 style="width:100%; margin-top:0px; color:#000000">Happy Clients</h5>
                        <p>Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem
Ipsum has been the industry's </p>
                        
                        </div>
					</div> 
				</div>
                

		<footer class="footer">
			<div class="top">
				<div class="container">
					 <!-- end .twitter -->
					<div class="row">
						<div class="col-sm-4">
                         <div class="footer_imag" style="width:100%;float:left;"><img src="/assets/logo.png"></div>
							<h5 class="footer_header" style="color:#ffc100;">About Us</h5>
							<p class="footer_content">Lorem ipsum dolor sit amet, consectetur  some dymm adipiscing elit. Nam turpis quam, sodales in text she ante sagittis, varius efficitur mauris.</p> <a href="about-us.html" class="footer_blink" style="width:150px;">Read More</a>
							<hr />
							 <!-- end .iconbox-left -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-5">
                       
                        <div class="footer_imag2" style="width:100%;float:left;"><img src="/assets/facebook_icon.png"></div>
							<h5 class="footer_header" style="color:#ffc100;">Facebook Page</h5>
                            <div class="facebook_page_image"><img src="/assets/facebook_image.png"/></div>
							 <!-- end .featured-deals -->
							 <!-- end .featured-deals -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-3">
                        <div class="footer_imag2" style="width:100%;float:left;"><img src="/assets/phone_icon.png"></div>
							<h5 class="footer_header" style="color:#ffc100;">Contact</h5>
                            <p class="footer_content"> +91 12345 67890<br>
                                                    +91 12345 67890</p>
                                  <p class="footer_content" style="margin-bottom:5px">nfo@otocars.com</p>
                            <p class="footer_content">Lorem ipsum dolor sit amet, consectetur  some dymm adipiscing elit. Nam turpis quam, sodales in text she ante sagittis, varius efficitur mauris.</p>
							 <!-- end contact-form -->
						</div> <!-- end .col-sm-4 -->
					</div> <!-- end .row -->
				</div> <!-- end .container -->
			</div> <!-- end .top -->
			<div class="bottom">
				<span class="copyright">© 2016 Late Night Gune. All Rights Reserved</span>
			</div> <!-- end .bottom -->
		</footer> <!-- end .footer -->