
<header class="header">
			<div class="container">
				<div class="navigation clearfix" style="opacity:0.8;">
					<div class="logo1"><a href="#"></a><!-- </div><div class="logo_text"> --><a href="#"><!-- <img src="/assets/logo_text.png"/> --></a> </div>
					<nav class="main-nav">
						<ul class="list-unstyled">
							<li class="active">
								<a href="#">Home</a>
								
							</li>
							<li>
								<a href="about-us.html">About Us</a>
								
							</li>
							
							
							
							<li><a href="contact-us.html">Contact Us</a></li>
                           
                            <li class="lgn_main"><a href="/users/new">Login / Register</a></li>
                           
						</ul>
					</nav> 
				</div> 
			</div>
		</header> 